*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* debugging */
  border: 1px solid green;

  /* global font */
  font-family: monospace;
}

body {
  background-color: #454545;
  overflow: hidden;
}

p {
  color: white;
  font-size: 1.3em;
}


button {
  outline: none;
  background-color: blanchedalmond;
  color: black;
  font-size: 1.3em;

}

 /* -------------------------- */
 /*  Outer container section   */
/*--------------------------- */



/* -------------------- */
 /*  Top-bar Container   */
/*--------------------- */



/* -------------------- */
 /*  Inner container   */
/*--------------------- */



 /* ----------------------- */
/*Header/Quiz-Intro Section */
/*------------------------ */




 /* ----------------------- */
/*Main Quiz Content */
/*------------------------ */
